.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label .react-switch-button {
  --gap: 3px;
  content: "";
  position: absolute;
  top: var(--gap);
  left: var(--gap);
  height: calc(100% - var(--gap) * 2);

  transition: 0.2s;
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - var(--gap));
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60%;
}
